.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(95, 190, 187);
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.login {
  margin-left: auto;
  margin-right: 1rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
}

a {
  color: white;
  text-decoration-line: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

span {
  font-weight: bolder;
  font-family: 'HallymGothic-Regular';
}

@font-face {
  font-family: 'HallymGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
